.wrapper {
  padding: 24px 16px 32px;
  margin-inline: auto;
  width: 100%;
  max-width: 700px;
}

.title {
  margin-block-end: 1rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
}

.subTitle {
  margin-block-end: 1rem;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 600;
}

.description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(var(--text-dark-muted));
}

.separator {
  margin-block: 24px;
  width: 100%;
  height: 1px;
  background-color: hsl(var(--border));
}

@media (min-width: 36rem) {
  .wrapper {
    padding-block: 48px 64px;
  }

  .title {
    font-size: 1.75rem;
  }
}

@media (min-width: 48rem) {
  .wrapper {
    padding-block: 80px 96px;
  }
}

