.rdpRoot {
  --rdp-accent-color: hsl(var(--primary));
}

.container {
  display: flex;
  flex-direction: column
}

.triggerButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  min-height: 38px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid hsl(var(--border));
  border-radius: 6px;
}

.triggerButton svg {
  width: 1.125rem;
  height: 1.125rem;
}